version: '3'

services:

  web:
    image: php:8.2-apache
    ports:
      - "8000:80"
    volumes:
      - ./site:/var/www/html
    # Installer PDO MySQL avant de lancer Apache
    command: bash -c "docker-php-ext-install pdo pdo_mysql && apache2-foreground"

  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: monsite
    volumes:
      - ./database:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
    depends_on:
      - db
